@import "../styles/color";
// @import "../styles/mixin";

body, html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  // @include sexy_border;
  text-decoration: none;
  color: $a_color;
  &:visited {
    color: $a_color;
    // color: inherit;
  }
  &:hover {
    color: $a_color_hover;
  }
}
